
/* POST STYLE AND POSITION */
.border{
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  position: static;
  top:15%;
  border: 1px solid #eaeaea;
  width: 65%;
  float: left;
  background-image: url("../blank_notebook_paper_2.jpg");
}

.post{
  margin-left: 11%;
  display: inline-block;
  width: 80%;
  font-family: "Shadows into light two";
  padding-top: 1.1%;
}


/*TITLE STYLE*/
h1{
  font-size: 26px;
  padding: 0%;
  margin: -0.5%;
  color: #565eb2;
}

h3{
  margin: 0%;
  color: #565eb2;
}

#date{
  text-decoration: underline;
  margin: 0%;
  color: #565eb2;
  font-size: 13px;
}

/* CONTENT STYLE */


p{
  padding-top: 1.8%;
}

/* SIDEBAR STYLE */
.column{
  position: absolute;
  top:20%;
  right: 0%;
  padding-right: 5%;
  float: right;
  width: 20%;
  text-align: center;
}

.postlist{
list-style-type: none;
border:1px solid #BFC5FF;
border-radius: 2px;
box-shadow:0 3px 0 #565eb2;
background-color: #e2e4ff;
padding: 2%;
margin-bottom: 5%;
}

#list-title{
  color:#cca063;
  font-size: 20px;
  padding-left: 10%;
}

code{
  display: block;
  background-color:#eee; /*#f7f7f9*/
  padding: 7.5px;
  color: blue;
}